.c-import{
    color: #111 !important;
}
.p5{
    padding: .5rem !important;
}
.pb5{
    padding-bottom: .5rem !important;
}
.mw0{
    min-width: 0 !important;
}
.p0{
    padding: 0 !important;
}
.mb0{
    margin-bottom: 0 !important;
}
.br-15{
    border-radius: 8pxs
}
.p10 > ul > li{
    padding: 10px !important;
}
.p10 ul{
    margin: 0 20px;
}
.form-search{
    border-radius: 15px;
    height: 40px;
    border-color: transparent;
    box-shadow: none;
    outline: none !important;
    transition-duration: 2s;
}
}

.form-search:focus{
    border-color: transparent;
    border-radius: 15px;
    outline: 0;
    box-shadow:inset 0 0 0 transparent;
}

.header-scrolled .form-search{
    border-color: #f9f8f7;
    outline: 1;
}

.header-scrolled .form-search:focus{
    border-radius: 15px; 
    border-color: #f9f8f7 !important;
}

.btn-p0{
    padding: 10px;
    outline: 0;
}

.btn-p0:focus{
    border-color: none !important;
}

.btn-p0:hover{
    border-color: none !important;
}

.btn-p0 i{
    /* font-size: 40px; */
    font-size: 24px;
    color: #fff;
}

.header-scrolled .btn-p0 i{
    color: #333;
}
#heroTitle h3{
    font-size: 40px;
    font-weight: 300;
}
.ml20{
    margin-left: 20px;
}

.mt120{
    margin: 120px 0;
}

.mt20{
    margin-top: 20px;  
}

@media (min-width: 1024px){
    .about .content h1{
        font-size: 5rem !important;
    }
    .fitur-solusi .content h1{
        font-size: 5rem !important;
    }
    .copyright{
        margin-top: 133px;
    }
    .width-custom{
        width: 120%;
    }
    .team h1{
        font-size: 5rem;
    }
    
.usage1::before{
    position: absolute;
    content: '';
    /* bottom: 0; */
    right: -66px;
    height: 3px;
    top: 80px;
    width: 129px;
    background: #262626;
}
.usage2::before{
    position: absolute;
    content: '';
    /* bottom: 0; */
    right: -66px;
    height: 3px;
    top: 80px;
    width: 129px;
    background: #262626;
}
.usage3::before{
    position: absolute;
    content: '';
    /* bottom: 0; */
    right: -66px;
    height: 3px;
    top: 80px;
    width: 129px;
    background: #262626;
}
}

.how-item img{
    background: top center no-repeat;
    background-size: cover;
}

.how-item h1{
    font-weight: 600;
    text-align: right;
    margin-bottom: 50px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.how-item h4{
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    text-align: right;
    margin-bottom: 30px;
}

.how-item button{
    position: relative;
    float: right;
    border-radius: 10px;
}
.how{
    min-height: 100vh;
    height: 100%;
}

.p20{
    padding: 20px 0;
}

.owl-theme .owl-dots .owl-dot span{
    /* width: 40px !important;
    height: 40px !important; */
    width: 30px !important;
    height: 30px !important;
}

.how-carousel .owl-nav.disabled+.owl-dots{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.testimonials-carousel .owl-nav.disabled+.owl-dots{
    position: absolute;
    width: 100%;
    bottom: 5%;
}

.fitur .content h1 {
   font-weight: 400;
    font-size: 5rem;
    color: #00963F;
}

  .fitur button{
    position: relative;
    float: right;
    border-radius: 10px;
  }

  .fitur-solusi{
    font-weight: 400;
    font-size: 3rem;
    color: #00963F;
  }
  
  
  .fitur .content ul i {
    background: #fff;
    box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
    font-size: 24px;
    padding: 20px;
    margin-right: 15px;
    color: #2eca6a;
    border-radius: 50px;
  }
  
  .m20{
      margin: 20px 0;
  }

  .smartseeds h3{
   font-weight: 400;
    text-transform: uppercase;
    color: #00963F;
  }
  .smartseeds h6{
      text-align: left !important;
  }
  .fitur-content h6{
      text-align: center;
      margin: .5rem 0;
  }

  .fitur-content img{
      height: 100%;
    min-height: 151px;
    max-height: 151px;
  }

  @media(min-width: 960px){
    .fitur-icon{
        width: 180px;
        height: 180px;
        top: -80px;
      }
    
      .fitur-icon i{
          font-size: 110px;
      }
      .solusi-icon{
        width: 140px;
        height: 140px;
      }
    
      .solusi-icon i{
          font-size: 78px;
      }
      .usage-icon{
        /* width: 140px;
        height: 140px; */
        margin: 20px 50px;
      }
    
      .usage-icon span{
          font-size: 78px;
      }
      .mt5{
          margin-top: 5rem !important;
      }
      .mt6{
          margin-top: 6rem !important;
      }
      .fitur-desc h4{
        font-size: 33px;
    }
    .bs-custom{
        max-height: 280px;
    }
    .fitur-desc{
        position: relative;
        top: -60px;
    }
    .how-item h1{
        font-size: 5rem;
        line-height: 100px;
    }
    /* .smartseeds h1{
       font-weight: 400;
        font-size: 4rem;
        color: #00963F;
    }
    .solusi h1{
        font-size: 5rem;
    }
    .publikasi h1{
       font-weight: 400;
        font-size: 5rem;
        color: #00963F;
    } */
   .img-custom{
        /* width: 150% !important; */
        width: 100% !important;
        position: relative;
        top: 50%;
        /* left: -40px; */
        /* height: 100%; */
    }
    .img-custom-solusi{
        /* width: 115% !important; */
        width: 120% !important;
        position: relative;
        left: 0;
        height: 100%;
    }
    .pad0{
        padding: 0;
        /* padding-top: 150px !important; */
    }
    .smartseeds h3{
        margin: 15px 0 0 0;
        font-size: 32px;
    }
    .height-max{
        max-height: 265px;
        height: 100%;
    }
    .jangkauan-card{
        min-height: 340px;
    }
    .jangkauan-header h3{
        font-size: 3rem;
        text-transform: uppercase;
        padding: 10px 0;
        color: #fff;
      }
      .jangkauan-body h3{
        font-size: 4rem;
        color: #00963F;
      }
      .jangkauan-body h5{
        font-size: 1.5rem;
        color: #00963F;
      }
      .solusi-card{
        min-height: 340px;
    }
      .solusi-body h3{
        font-size: 4rem;
        color: #00963F;
      }
      .solusi-body h5{
        font-size: 1.5rem;
        color: #00963F;
      }
      .mitra img{
        max-width: 100%;
        height: auto;
        min-height: 194px;
        max-height: 194px;
      }
      /* .copyright{
          margin-top: 133px;
      } */
  }

  .smartseeds h1{
    color: #00963F;
  }

  @media(min-width: 720px) and (max-width: 960px){
    .fitur-icon{
        width: 80px;
        height: 80px;
        top: -35px;
      }

      .fitur .content h1{
          font-size: 4rem;
      }

      .publikasi h1{
        font-weight: 400;
         font-size: 3rem;
         color: #00963F;
     }

     .fitur-solusi h1{
         font-size: 3rem;
     }

     .smartseeds h6{
         width: 90%;
     }
    
      .fitur-icon i{
          font-size: 50px;
      }
      .solusi-icon{
        /* width: 240px; */
        width: 100%;
        height: 240px;
      }
    
      .solusi-icon i{
          font-size: 115px;
      }
      .usage-icon{
        /* width: 240px; */
        width: 100%;
        height: 240px;
      }
    
      .usage-icon span{
          font-size: 115px;
      }
      .mt5{
          margin-top: 5rem !important;
      }
      .mt6{
          margin-top: 6rem !important;
      }
      .bs-custom{
          min-height: 180px;
            max-height: 180px;
    }
    .fitur-desc h4{
        font-size: 20px;
    }
   .img-custom{
        max-width: 100%;
        height: auto;
    }
    .img-custom-solusi{
        max-width: 100%;
        height: auto;
    }
    .jangkauan-card{
        min-height: 280px;
    }
    .jangkauan-header h3{
        font-size: 2rem;
        color: #fff;
    }
    .jangkauan-body h3{
        font-size: 2.5rem;
        color: #23A455;
    }
    .jangkauan-body h5{
        color: #23A455;
    }
    .solusi-card{
        min-height: 280px;
    }
    .solusi-body h3{
        font-size: 2.5rem;
        color: #23A455;
    }
    .solusi-body h5{
        color: #23A455;
    }
    .copyright{
        margin-top: 60px;
    }
    .width-custom{
        width: 140%;
    }
    /* .gabung-sekarang-btn{
        margin: 0 36px 0 0 !important;
      } */
  }
  .mobile-nav-toggle{
    top: 48px;
}

@media(max-width: 700px){
    .search-home{
        display: none;
    }
    .fitur-icon i{
        font-size: 110px;
    }
    .fitur-icon{
        margin-bottom: 30px;
    }
}

@media(max-width: 1024px){
    .gabung-sekarang-btn{
        width: 120px;
        margin: 0 36px 0 0 !important;
    }
    .form-search{
        border-color: #333;
    }
    .form-search:focus{
        border-color: #333;
    }
    .btn-p0 i{
        color: #333;
    }
    .how-item h1{
        line-height: 1;
    }
}

  .fitur-icon{
    border-width: 4px !important; 
    background-color: #23A455;
    box-shadow: 0px 0px 8px 4px #d2c9c9;
  }
  .solusi-icon{
    border-width: 14px !important; 
    background-color: #23A455;
    box-shadow: 0px 0px 8px 4px #d2c9c9;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .usage-icon{
    box-shadow: 7px 9px 7px -3px #333;
  }
  .usage-icon span{
    color: #28a745!important;
  }
  .bs-custom{
    box-shadow: 0px 0px 8px 4px #d2c9c9;
    border-radius: 20px;
  }

  .nav-next{
      margin-top: 40px;
      color: #00963F;
      font-size: 23px;
      font-weight: 600;
  }

  .border-custom{
      border: 1px solid #f9f8f7 !important;
  }

  .color-custom{
      color: #2eca6a;
  }

  .c1{
    color: #00963F !important;
    font-weight: 700;
  }

  .c2{
      color: #0000ff;
      font-weight: 700;
  }
  
  .c2:hover{
    color: #0000ff !important;
  }

  .c3{
      color: #ff4500;
      font-weight: 700;
  }

  .c3:hover{
    color: #ff4500 !important;
  }

  .jangkauan{
      padding-top: 0px !important;
  }
  .mtb20{
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .mtb50{
      margin-top: 50px;
      margin-bottom: 50px;
  }
  .jangkauan-card{
      box-shadow: 5px 7px 12px 4px #d2c9c9;
      border-radius: 50px;
      background-color: #00963F;
      border: #fff;
  }
  .jangkauan-header{
      background-color: transparent !important;
      border-bottom: 0 !important;
  }
  .jangkauan-body{
      background-color: #ece8e8;
      border-radius: 50px;
  }
  .solusi-card{
    box-shadow: 5px 7px 12px 4px #d2c9c9;
    border-radius: 50px;
    background-color: #00963F;
    border: #fff;
}
.solusi-body{
    background-color: #ece8e8;
    border-radius: 50px;
    padding: 20px 50px;
}
.solusi-header{
    background: transparent !important;
    border-bottom: 0 !important;
}
  .top15{
      /* top: 15px !important; */
      top: 8px !important;
  }

  .testimonial-item{
      background-size: cover;
        min-height: 100vh;
        height: 100%;
        /* padding: 150px 0; */
        padding: 100px 0;
  }
  .testimonials .owl-dot{
      width: 40px !important;
      height: 40px !important;
  }
  #footer{
      padding: 0 !important;
  }
  .pt3{
      padding-top: 3rem;
      padding-bottom: 1rem;
  }
  .footer-widget a{
    font-weight: 700;
    color: #fff;
  }
  .footer-widget a:hover{
      color: #fff;
  }

  /* .footer-social img{
      width: 200px;
  } */


.how-item{
    background-size: cover;
    /* min-height: 150vh; */
    height: 100%;
    padding: 50px 0;
}

.btn-success a{
    color: #fff;
}

.testimonial-item img{
    background: top center no-repeat;
    background-size: cover;
}
.pt0{
    padding-top: 0 !important;
}

.w70{
    padding: 0 17%;
    text-align: center;
}

#header.header-scrolled .drop-custom a{
    color: #fff !important;
}

.drop-custom{
    top: 95% !important;
}

/* .testi-img1{
    background: url("/assets/template/assets/img/home-testimoni.jpg") center center no-repeat;
}
.testi-img2{
    background: url("/assets/template/assets/img/testimonials-bg.jpg") center center no-repeat;
}
.testi-img3{
    background: url("/assets/template/assets/img/hero-bg1.jpg") center center no-repeat;
} */

/* tentang kami */

.mt130{
    margin-top: 130px;
}

.mt90{
    margin-top: 90px;
}

.w100{
    width: 100%;
}
.visimisi h1{
    font-weight: 700;
    font-size: 5rem;
}

.visimisi p{
    color: #fff;
    font-weight: 700;
    text-align: left;
}

.team h1{
    font-weight: 400;
    color: #00963F
}

.member-img img{
    border-radius: 50%;
}

/* solusi */
.solusi h1{
    color: #00963F;
    font-weight: 400;
}

.solusi-body a{
    color: #00963F;
}
.solusi p{
    text-align: left;
    color: #333;
    font-weight: 600;
    font-size: 21px;
}

.solusi-hover .dropdown-menu{
    display: none;
}
.solusi-hover:hover .nav-hover{

}
.solusi-hover:hover .dropdown-menu{
    display: block;
}
.btn-search-home:focus{
    box-shadow: none !important;
}
.pt0{
    padding-top: 0 !important;
}
.b1{
    border-top: 1px solid #bbb9b7;
    border-bottom: 1px solid #bbb9b7;
}
.fitur-solusi h4{
    font-weight: 700;
    color: #000000;
    font-size: 2rem;
}
.fitur-solusi h6{
    color: #000000;
    font-size: 1.5rem;
    font-family: Verdana;
}

.mrl20{
    margin-right: 20px;
    margin-left: 20px;
}
.mw12{
    max-width: 1250px !important;
}

@media (max-width: 460px){
    .gabung-sekarang-btn{
        display: none;
    }
    .btn-search-home{
        margin-right: 36px;
    }
}

.content-area{
    margin-top: 50px;
}

.btn-toggle{
    border: none;
    background-color: transparent;
    font-weight: 700;
    margin: 0 10px;
    text-transform: uppercase;
    padding: 3px 20px;
    border-radius: 5px;
    box-shadow: 1px 4px 4px 2px #d2c9c9;
}

/* .btn-artikel{
    color: #00963F !important;
    margin: 0 20px;
}

.btn-editorial{
    color: #0000ff;
    margin: 0 20px;
}

.btn-editorial:hover{
    color: #0000ff !important;
}

.btn-rilis{
    color: #ff4500 !important;
    margin: 0 20px;
}

.btn-rilis:hover{
    color: #ff4500 !important;
} */
@media(min-width: 400px) and (max-width: 960px){
    #header .logo img {
        max-height: 50px !important;
    }
}

@media(min-width: 400px) and (max-width: 720px){
    .pl34{
        padding-left: 34px !important;
    }
    .pl20{
        padding-left: 20px !important;
    }
    .about .content h1{
        font-size: 2rem !important;
    }
    .fitur .content h1{
        font-size: 2rem !important;
    }
    .img-banner-custom{
        margin: 20px 0;
    }
    .smartseeds h1{
        font-size: 2rem !important;
     }
     .solusi h1{
         font-size: 2rem !important;
     }
     .publikasi h1{
        font-size: 2rem !important;
     }
     .jangkauan h1{
        font-size: 2rem !important;
    }
    .testimonials h1{
        font-size: 2rem !important;
    }
    .solusi h1{
        font-size: 2rem !important;
    }
    .mitra h1{
        font-size: 2rem !important;
    }
}

.img-banner-custom{
    margin: 10px 0;
    width: 100%;
}

/* .testi-card {
    border-radius: 1rem;
    box-shadow: 0px -10px 0px rgb(151, 248, 6)
} */
.testi-card{
    box-shadow: 0px 0px 8px 4px #d2c9c9;
    border-radius: 20px;
}
@media(max-width:767px) {
    .testi-card {
        margin: 1rem 0.7rem 1rem;
        max-width: 80vw
    }
}

@media(max-width: 980px){
    .mobile-hide{
        display: none !important;
    }
}
@media(min-width: 981px){
    .web-hide{
        display: none !important;
    }
}

.testi-title {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'IM Fell French Canon SC'
}

.testi-text {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    color: rgb(82, 81, 81);
    line-height: 1.4rem;
    min-height: 230px;
}
.testi-footer {
    border-top: none;
    text-align: center;
    line-height: 1.2rem;
    padding: 2rem 0 1.4rem 0;
    font-family: 'Varela Round'
}

#name {
    font-size: 0.8rem;
    font-weight: bold
}

#perusahaan {
    font-size: 0.7rem
}
.testi-footer span{
    color: #333;
}
.testimonials::before{
    background: #fff !important;
}
.smartseeds h1{
    font-weight: 400;
     font-size: 4rem;
     color: #00963F;
 }
 .solusi h1{
     font-size: 5rem;
 }
 .publikasi h1{
    font-weight: 400;
     font-size: 5rem;
     color: #00963F;
 }
 .jangkauan h1{
    font-weight: 400;
    font-size: 5rem;
    color: #00963F;
}
.testimonials h1{
    font-weight: 400;
    font-size: 5rem;
    color: #00963F;
}
.solusi h1{
    font-weight: 400;
    font-size: 5rem;
    color: #00963F;
}
.mitra h1{
    font-weight: 400;
    font-size: 5rem;
    color: #00963F;
}
.testi-img img{
    min-width: 310px !important;
    height: 100%;
    min-height: 400px !important;
}
.mb-20{
    margin-bottom: 20px;
}